body
  margin: 0
  padding: 0

.email-container
  font-family: sans-serif
  font-size: 14px
  color: #666

.email-header
  background-color: #574943
  background-image: url("../img/bg.jpg")
  background-size: cover
  padding-top: 30px

.email-center
  margin: auto
  max-width: 600px
  text-align: center
  padding: 0 20px

.email-logo
  float: left
  img
    width: 65px


.email-cocial-wrap
  padding-top: 17px
  float: right
  a
    margin-left: 7px

.email-headet-top
  padding-top: 80px
  font-weight: 600
  text-align: center
  text-transform: uppercase
  font-size: 34px
  color: #ffffff
  clear: both

.email-button
  display: inline-block
  padding: 11px 45px
  background-color: #56BA5B
  border-radius: 5px
  color: #ffffff
  text-decoration: none
  text-transform: uppercase
  margin-top: 60px
  margin-bottom: 80px

.product-button
  display: inline-block
  padding: 9px 38px
  background-color: #56BA5B
  border-radius: 5px
  color: #ffffff
  text-decoration: none
  text-transform: uppercase
  margin: 15px 0 35px
  font-size: 12px

.email-tizers-wrap
  background-color: #F1F1F2
  border-bottom: 5px solid #D5D5D5
  margin-top: -34px
  padding: 34px 0 0

.email-tizer-item
  display: inline-block
  width: 150px
  vertical-align: top
  padding: 0 20px 20px 20px

.email-sale-text
  display: inline-block
  margin: 45px 0 45px
  text-transform: uppercase
  color: #7a695a
  letter-spacing: 4px
  padding: 10px 35px
  border: #7a695a 1px solid
  line-height: 24px

.email-products-wrap
  img
    width: 100%
    height: 165px

.mail-products-item
  width: 240px
  display: inline-block
  border-bottom: #D5D5D5 1px solid
  padding: 0 20px
  margin-bottom: 30px

.mail-price
  color: #040506
  margin-top: 15px
  font-size: 16px

.email-footer
  background-color: #ECECEC
  padding: 20px 0
  text-align: center
  font-size: 12px
  color: #a1a1a1
  a
    color: #a1a1a1


@media only screen and (max-device-width: 480px)
  .email-center
    max-width: 93% !important

  .email-logo
    img
      width: 85px !important

  .email-cocial-wrap
    a
      margin: 10px !important
      img
        width: 65px !important

  .email-headet-top
     font-size: 38px !important

  .email-button
    padding: 19px 50px !important
    font-size: 25px

  .email-tizer-item
    width: 225px !important
    img
      width: 115px !important
    p
      font-size: 23px !important

  .email-sale-text
    line-height: 40px !important
    font-size: 30px !important
    padding: 15px 40px !important
    margin: 75px 0 75px !important

  .mail-products-item
    width: 80% !important
    margin-bottom: 90px !important

  .email-products-wrap img
    height: auto !important

  .mail-price
    font-size: 40px !important
    line-height: 50px !important
    padding: 20px 0 !important

  .product-button
    padding: 19px 42px !important
    font-size: 31px !important
    margin: 20px 0 60px !important

  .email-footer
    padding: 50px 0 !important
    font-size: 30px !important











