doctype html
head
    link(rel="stylesheet" href="css/style.css")
    meta(charset="utf-8")

    body
        .email-container
            .email-header
                .email-center
                    .email-header-topline
                        a.email-logo(href="http://rozvytok.space/index.html")
                            img(src="img/logo.png", alt="logo")

                        .email-cocial-wrap
                            a(href="https://www.facebook.com/rozvytok.coworking.kharkiv/")
                                img(src="img/fb.png", alt="Alt")
                            a(href="https://www.instagram.com/rozvytok_creative_hub/")
                                img(src="img/insta.png", alt="Alt")

                    .email-headet-top.
                        Креативный хаб "Розвиток" <br> только для вас
                    a(href="http://rozvytok.space/").email-button Подробнее

            .email-content
                .email-center
                    .email-tizers-wrap
                        .email-tizer-item
                            img(src="img/icon_1.png", alt="Alt")
                            p Коворкинг <br> 3 места по цене 2
                        .email-tizer-item
                            img(src="img/icon_2.png", alt="Alt")
                            p Ивент зона <br> каждый 3 час в подарок
                        .email-tizer-item
                            img(src="img/icon_3.png", alt="Alt")
                            p Курсы <br> на второй курс - 35%

                    .email-sale-text Звоните сейчас - получаете скидку

                    .email-products-wrap
                        .mail-products-item
                            a(href="#")
                                img(src="img/items/1.jpg", alt="Alt")
                            .mail-price Ивент зона <br> от 200грн/час
                            a(href="http://rozvytok.space/event.html").product-button Заказать

                        .mail-products-item
                            a(href="#")
                                img(src="img/items/2.jpg", alt="Alt")
                            .mail-price Коворкинг <br> от 1800грн/месяц
                            a(href="http://rozvytok.space/kovorking.html").product-button Заказать

                        .mail-products-item
                            a(href="#")
                                img(src="img/items/3.jpg", alt="Alt")
                            .mail-price Переговорная <br> от 100грн/час
                            a(href="http://rozvytok.space/index.html").product-button Заказать

                        .mail-products-item
                            a(href="#")
                                img(src="img/items/4.jpg", alt="Alt")
                            .mail-price Курсы <br> от 2400грн/месяц
                            a(href="http://rozvytok.space/courses.html").product-button Заказать

            .email-footer.
                Креативный хаб "Розвиток"   <a href="#">  Отписаться от рассылки </a>

